
@font-face {
    font-display: swap;
	font-style: normal;
	font-weight: 400;
	font-family: "Raleway";
	src: url("/assets/fonts/Raleway-Medium.ttf");
}

@font-face {
    font-display: swap;
	font-style: normal;
	font-weight: 500;
	font-family: "Raleway";
	src: url("/assets/fonts/Raleway-Medium.ttf");
}