
h1 {
	font-size: 26px;
	font-weight: 500;
	line-height: 1;

	@media(min-width: 375px) {
		font-size: 40px;
	}
}

h2 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.3;

	@media(min-width: 375px) {
		font-size: 32px;
		line-height: 1.2;
	}
}

h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;

	@media(min-width: 375px) {
		font-size: 20px;
	}
}

h4 {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;

	@media(min-width: 375px) {
		font-size: 16px;
	}
}

.p1 {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;

	@media(min-width: 375px) {
		font-size: 16px;
	}
}

.p2 {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;

	@media(min-width: 375px) {
		font-size: 14px;
	}
}

button {
	font-size: 14px;
	font-weight: 400;
	line-height: 1;

	@media(min-width: 375px) {
		font-size: 16px;
	}
}
