
.input-text-component {
	--border-color: rgba(58, 58, 58, 0.5);
	--title-background-color: rgba(255, 255, 255, 1);
	--title-color: rgba(157, 157, 157, 1);
	--input-color: rgba(58, 58, 58, 1);
	--caption-color: rgba(58, 58, 58, 1);

	display: flex;
	flex-direction: column;
	outline: none;
	border: none;
	font-weight: 500;
	line-height: 1.2;
	border-radius: 8px;
	gap: 4px;
}
.input-text-component_error {
	--border-color: rgba(235, 87, 87, 1);
	--title-color: rgba(235, 87, 87, 1);
	--input-color: rgba(235, 87, 87, 1);
	--caption-color: rgba(235, 87, 87, 1);
}
.input-text-component_disabled {
	--border-color: rgba(58, 58, 58, 1);
	--title-color: rgba(73, 69, 79, 1);
	--input-color: rgba(58, 58, 58, 1);
	--caption-color: rgba(73, 69, 79, 1);
	opacity: 0.4;
}

.input-text-component * {
	transition: 
		background-color 300ms ease-in-out,
		border 300ms ease-in-out,
		color 300ms ease-in-out;
}

.input-text-component__label {
	border-radius: inherit;
	position: relative;
	border: 1px solid var(--border-color);
	font-size: 14px;
}
.input-text-component__label:hover {
	--input-color: rgba(58, 58, 58, 1);
	--caption-color: rgba(58, 58, 58, 1);
	--border-color: rgba(58, 58, 58, 1);
	--title-color: rgba(58, 58, 58, 1);
}
.input-text-component__label:has(.input-text-component__input:focus) {
	--input-color: rgba(73, 69, 79, 1);
	--caption-color: rgba(73, 69, 79, 1);
	--border-color: rgba(73, 69, 79, 1);
	--title-color: rgba(73, 69, 79, 1);
}

.input-text-component__icon {
	border: inherit;
	outline: inherit;
	background-color: transparent;
	height: 24px;
	width: 24px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.input-text-component .input-text-component__icon {
	cursor: default;
}

.input-text-component__title {
	position: absolute;
	left: 16px;
	transform: translate(0, -50%);
	padding: 0 4px;
	color: var(--title-color);
	background-color: var(--title-background-color);
}

.input-text-component__field {
	border-radius: inherit;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 0 16px;
}

.input-text-component__input {
	border-radius: inherit;
	background-color: transparent;
	border: none;
	outline: none;
	padding: 16px 8px;
	font-size: 16px;
	color: var(--input-color);
}

.input-text-component__caption {
	font-size: 14px;
	color: var(--caption-color);
	padding: 0 16px;
}